.resourcePanel  {
    display: flex;
    align-items: center;

    .resourceContainer {
        display: flex;
        align-items: center;
        
        .resourceVal {
            flex: 1; 
            .resourceIncome {
                color: rgb(47, 163, 47);
            }
        }
        
        .resourceIcon {
            margin-right: 1rem; 
        }  
    }
}