.primary-button {
    border-radius: 4px;
    padding: 8px;
    background-color: #d4d6cd;
    font-weight: 500;
    border: none;
    color: #fff;

}

.primary-button:hover {
   background-color: #eeefeb;
}