.primary-button {
    border-radius: 4px;
    padding: 8px;
    background-color: #d4d6cd;
    font-weight: 500;
    border: none;
    color: #fff;

    &:hover {
        background-color: #eeefeb;
        cursor: pointer;
    }

    //TODO: passendes Design noch finden
    &:disabled {
        cursor: auto;
        background-color: #eeefeb;
        
    }

    &.building-inncrease-button {
        min-width: 120px;
    }

}

